

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("wallpaper.png"); /*silahkan diganti ges background atau warna lain*/
    /* background-color: white; */
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
    height:97vh;
    position: relative;
    fill-opacity: unset;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    width: 16rem;
    opacity: 0.7;
}

.username,.password,.submit{
    border-radius: 0.5rem;
    -webkit-border-radius: 0.99;
    -moz-border-radius: 0.99;
    -ms-border-radius: 0.99;
    -o-border-radius: 0.99;
    color:white;
    outline-color: black;
    height: 2rem;
    border-color:blue;
    background-color: blue;
    text-justify: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.submit{
    height: 10rem;
    width: 10rem;
}