

img {
    display: block;
}

.container {
    background-color: rgb(39, 6, 102);
    color: white;
    padding: 2.5rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}