
body {
    /* font-family: 'Poppins'; */
    min-height: 100vh;
    background-color: #E3EAEC;
    background-size: cover;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    box-sizing: border-box;
    background-image: url('assets/bg.jpg');
    background-position: center;
    background-attachment: fixed;
}

.menu-container {
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    color: #100e0e;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.menu-section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #f9eeec; 
    margin-bottom: 10px;
    border-bottom: 2px solid #ffaa9c;
    padding-bottom: 5px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-item p {
    margin: 0;
    font-size: 14px;
    color: #010101;
    flex-grow: 1;
}

.menu-item span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}



nav {
    background-color: #D5393A;
    width: 100%;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 1rem;
    color: #FFED9F;
}

nav a:hover{
    color: #86C866;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .brand a{
    font-size: 1.5rem;
    font-weight: bold;
}

nav li{
    height: 50px;
    display: flex;
}

nav .login_btn{
    background-color: #FFED9F;
    color: #D5393A;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 100px;
    height: 15px;
    min-width: 85px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .login_btn:hover{
    color:darkgreen;
}

nav .toggle_btn{
    margin-right: 10px;
    color:#FFED9F;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px){
    nav ul, nav .login_btn{
        display: none;
    }
    nav .toggle_btn{
        display: block;
    }
    nav .dropdown_menu.show{
        display: block;
    }
}

nav .dropdown_menu{
    position: absolute;
    right: 0;
    top: 45px;
    width: 300px;
    background:#D5393A;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.about {
    background-color: #E3EAEC;
    padding: 20px;
    margin-top: auto;
}

.about h1{
    font-weight: bold;
    color: #D5393A;
}
